<div class="container">
    <div class="col-lg-10 col-lg-offset-1 col-xs-12 col-md-12">
        <h1 class="page-header">Top Users</h1>
        <div class="row">
            <h3 class="page-header">user</h3>
            <div class="col-lg-3 col-xs-12 col-md-12">
                <img src="http://placehold.it/200x170">
            </div>
            <div class="col-lg-9 col-xs-12 col-md-12">
                <p>Mauris eu mi accumsan, congue nisl vel, facilisis enim.
                    In scelerisque pulvinar ante, a pharetra orci. Duis ac tortor ante.
                    Duis elementum lacus nulla, sit amet volutpat felis ornare non.
                    Donec sodales odio vitae diam efficitur, feugiat aliquet tortor tempus.
                </p>
                <a>See videos</a> <a>See profile</a>

            </div>
        </div>
    </div>
</div>

<hr>