<div class="container">
    <div class="videoPlayer-warper ">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-7  col-md-8 col-xs-12">
                    <h2 class="page-header">Video played title</h2>
                    <video width="720" height="480" controls></video>
                    <div class="well">
                        <h4>Description</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Cras at dui finibus, rhoncus diam maximus, convallis metus.
                            Nam non leo sit amet erat lacinia laoreet ut quis quam.
                        </p>
                    </div>

                </div>
                <div class="col-lg-1">

                </div>

                <div class="col-lg-4 col-md-4 col-xs-12">
                    <h3>Watch next</h3>
                    <a class="thumbnail" href="#"><img class="img-responsive" src="http://placehold.it/300x225"></a>

                    <hr>
                    <a class="thumbnail" href="#"><img class="img-responsive" src="http://placehold.it/300x225"></a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--Comments start -->
<div class="container">
    <div class="Coments-warper ">
        <div class="row">

            <div class="col-lg-12">
                <div class="col-lg-8 col-md-12 col-xs-12 comments-container" >

                    <div class="well">
                        <h3>Claudius</h3>
                        <p>
                            Aenean varius lacus sit amet malesuada consectetur.
                            Duis lacus tortor, molestie dictum augue et, efficitur congue leo.
                            Etiam vel sodales metus. Mauris consequat est eu augue congue accumsan.
                            Fusce id augue risus. Vestibulum fermentum
                        </p>
                    </div>
                </div>
                <!--Comments end -->
                <!--Side column-->
                <div class="col-lg-1"></div>
                <div class="col-lg-3 col-md-12 col-xs-12">
                    <a class="thumbnail" href="#"><img class="img-responsive" src="http://placehold.it/200x150"></a>


                </div>

                <!--End column-->



            </div>

        </div>
    </div>
</div>
</div>

<hr>